@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;1,700&display=swap');
@import './editor.css';

/* Custom medias */
@custom-media --desktop-viewport (min-width: 768px);

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: var(--size-fluid-2);
}
main {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  gap: var(--size-fluid-1);
  margin-block-end: var(--size-3);

  & #description {
    flex: 1;
    font-weight: 100;
  }
}

h1 {
  color: var(--blue-8);
  margin-block-end: 1rem;
  font-size: var(--font-size-4);
  display: flex;
  & span {
    font-size: var(--font-size-4);
  }
}

ol {
  font-size: medium;
  font-size: var(--font-size-0);
  margin-block-end: 1rem;
  list-style-position: inside;
}

@media (--desktop-viewport) {
  h1 {
    font-size: var(--font-size-6);
  }
  ol {
    font-size: var(--font-size-2);
  }
}
